body{
  font-size: 85%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0.5em;
  min-width: 20em;
}
@media (min-width:58em) {
  .menu {
    width: 12em;
    float: left;
  }
  .hbc-criteria {
    display: inline-block;
    width: 15em;
  }
}
@media (max-width:57.99em) {
  .content {
    width: 100%;
  }
}
.content {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
.hbc-criteria {
  padding: 1em 0;
  vertical-align: top;
  text-align: center;
}
td {
  padding: 0;
}
.hbc-criterias,
h1,
h2 {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 1em 0 0 0;
  padding: 0; 
}
ul {
  list-style: none;
}
label:before{
  counter-increment: labelCounter;
  content: counter(labelCounter) ". ";
}
.no-margin-top {
  margin-top: 0;
}
.hbc-panel {
  padding: 1em;
  margin-bottom: 0.2em;
  counter-reset: labelCounter;
}
.hbc-panel ol{
  margin:0;
  margin-left:1em;
}
.hbc-panel ul,
.hbc-panel p{
  margin: 0;
  padding: 0;
  margin-left: 1em;
}
.hbc-criteria label {
  margin: 0 0 0.25em 0;
  padding: 0;
  display: block;
  font-size: 130%;
  font-family: Arial, Helvetica, Verdana, sans-serif; 
  font-weight: bold;
}
.hbc-criteria button {
  width: 10em;
  height: 2.5em;
}
.hbc-criteria select {
  width: 12em;
}
.ui-selectmenu-button {
  height: 2.5em;
}